# ==========================================
# Core requirements
# ==========================================
rich
typer

# ==========================================
# Packaging requirements
# ==========================================
pyinstaller
